<html>
    <head>
        <meta charset="utf-8">
        <title> Django CMS </title>
        {% include "components/header.css.html" %}
        {% include "components/pages.style.lib.html" %}
        {% include "components/page.script.lib.html" %}
    </head>


    <body>
        {% load static %}
        <img src="{% static "images/logo.jpg" %}">

        <h1> Welcome to MyBLOG </h1>
        <hr>
        {% block content %} {% endblock %}
        <hr>
        {% include "components/footer.html"%}
    </body>
</html>